<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/officeHome.css">
    <title>Office</title>
</head>
<body>

  <!-- logout button -->
   <div class="logout">
     <a href="/logout"> <button>
      Logout 
     </button> </a>
   </div>
   
   <!-- details of all agent in office  -->
    <div class="agent_data">
        <table>
            <caption>Agent Information</caption>
            <thead>
              <tr>
                <th scope="col">Agent ID</th>
                <th scope="col">Name</th>
                <th scope="col">Profile</th>
              </tr>
            </thead>
            <tbody>
                <% for(let agent of agentdata){ %> 
              <tr>
                <th scope="row"><%= agent.a_id %></th>
                <td><%= agent.firstname %> <%= agent.lastname %></td>

                <!-- view profile link of each agent -->
                <!-- redirect to office/profile route  -->
                <td><a href="/office/profile/<%= agent.a_id %>">View Profile</a></td>
              </tr>
              <% } %>
             
            </tbody>
          </table>
    </div>


    <!-- to add a new agent -->
    <div class="add_agent">

      <a href="/office/add_agent">
        <button class="btn btn--liquidBtn">
          <span>Add Agent</span>
          <div class="btn--liquidBtn--liquid" />
        </button>
      </a>
      


      <!-- to add a new property -->
     <a href="/office/add_property">
      <button class="btn btn--changeGradient">
        Add Property</button>
    </a> 
 
    </div>

    

    <!-- display all properties-->
    <div class="total">
      <a  href="/office/total_properties">
        <button class="total_properties">
         Total Properties
         <span class="span"><%=countp[0].total_count%></span></button> 
        
      </a>
       
    
      <!-- display all sold_properties -->
      <a href="/office/total_sold_properties">
      <button class="sold_properties" > 
         Total Sold Properties
         <span class="span"> <%=counts[0].total_count %> </span> </button>
        
      </a>
    

      <!-- display all rented_properties -->
      <a href="/office/total_rented_properties">
        <button class="rented_properties"> 
          Total Rented Properties 
          <span class="span"> <%=countr[0].total_count %> </span></button>
        
      </a>
    

    </div>

</body>
</html>

